*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video{
    width: 300px;
    display: block;
}

section.mp{
    min-height: 100vh;
}

.container{
    max-width: 1160px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mp-text{
    width: 90vw;
}

.mp-paragraph{
    font-size: 45px;
    line-height: 50px;
}

.bg-video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.noise-canvas{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%; 
	opacity: 0.3;
    z-index: 2;
}